html, body{
    margin: 0;
    background-color: rgb(46, 67, 77);
}

.container{
    height: 1000px; 
    width: auto;
    margin: 0;

}
.txtSec, .imgSec{
    width: 30%;
}
.txtSec{
    float: left;
}
.txtRight{
    margin-left: 500px;
}
.txtLeft{
    margin-left: 300px;
}
.imgSec{
    float: right;
}
#indexText{
    text-align: center;
    position: absolute;
    padding: 20%;
}
.txt, .txtRef{
    color: rgb(255, 206, 153);
}
.txt{
    font-size: 25px;
    line-height: 35px;
}
.txtRef{
    font-size: 15px;
}
