html, body{
    margin: 0;
    background-color: rgb(46, 67, 77);
}

.container{
    height: 1000px; 
    width: 1200px;
    margin: auto;
    margin-top: 80px;
}

.txtSec, .imgSec, .txtRight{
    width: 600px;
}

.txtSec{
    float: left;
}

.txtRight{
    margin-left: 200px;
}

.imgSec{
    float: right;
}

#indexText{
    position: absolute;
    margin-top: 20%;
}

.indexTextLeft{
    margin-left: 300px;
    margin-right: 300px;
}
.indexTextRight{
    margin-right: 150px;
    margin-left: 450px;
}

.txt, .txtRef{
    color: rgb(255, 206, 153);
}

.txt{
    font-size: 35px;
    line-height: 40px;
    font-family: "europa";
}

.txtRef{
    font-size: 15px;
}

.pageLinks{
    text-decoration: none;
    color: rgb(255, 90, 77);
}
