html, body{
    margin: 0;
    background-color: rgb(46, 67, 77);
    height: 100%;
}
::-webkit-scrollbar{
    display: none;
}
#container{
    width: 1200px;
    margin: auto;
    margin-top: 80px;
}
/*#container img{ //I stede for background-img?
    position: absolute;
}*/
#txtSec, #imgSec{
    width: 600px;
}

#txtSec{
    float: left;
    z-index: 50;
    position: relative;
    color: rgb(255, 206, 153);
    font-size: 35px;
    line-height: 40px;
    font-family: "europa";
    margin-left: 100px;
}

#indexTxtLeft, #indexTxtRight{
    width: 800px;
    margin-bottom: 50px;
}

#indexTxtRight, .txtRight{
    margin-left: 200px;
}

.txtLeft, .txtRight{
   width: 500px;
}

#txtRefer{
    font-size: 20px;
    font-style: oblique;
}

a{
    text-decoration: none;
    color: rgb(255, 90, 77);
}

a:hover{
    color: rgb(50, 50, 50);
}

#imgSec{
    /*float: right;
    /*background-image: url(../img/1.jpg);*/
    position: fixed;
    height: 800px;
    left: 50%;
}

#spotlight{
    height: 2000px;
    width: 2000px;
    left: -5400px;
    top: -5600px;
    border-radius: 50%;
    border: 5100px solid black;
    position: absolute;
    box-shadow: inset 10px 10px 49px 57px rgba(0,0,0,0.65);
    z-Index: 100;
    pointer-events: none;
}