html, body{
    margin: 0;
    background-color: rgb(46, 67, 77);
    height: 100%;
}
::-webkit-scrollbar{
    display: none;
}
#container, #indexTxtLeft{
    width: 1200px;
    margin: auto;
    margin-top: 80px;
}
/*#container img{
    position: absolute;
}*/
#txtSec, #imgSec, #txtRight{
    width: 600px;
}

#txtSec, #indexTxtLeft, #indexTxtRight{
    float: left;
    z-index: 100;
    position: relative;
    color: rgb(255, 206, 153);
    font-size: 35px;
    line-height: 40px;
    font-family: "europa";
}
#indexTxtLeft{
    width: 
    margin-right: 300px;
}

#indexTextRight{
    margin-right: 150px;
    margin-left: 450px;
}

#txtRight{
    margin-left: 200px;
}

/*
.txt, .txtRef{
    color: rgb(255, 206, 153);
}

.txt{
    font-size: 35px;
    line-height: 40px;
    font-family: "europa";
}*/

#txtRef{
    font-size: 15px;
}

#pageLinks{
    text-decoration: none;
    color: rgb(255, 90, 77);
}
#pageLinks:hover{
    color: rgb(50, 50, 50);
}
#imgSec{
    float: right;
    /*background-image: url(../img/1.jpg);*/
    position: fixed;
    height: 800px;
    left: 50%;
}

